body {
    font-family: Monaco,Consolas,Menlo,Courier New,monospace;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    background-color: #000;
}

h5 {
    font-size: 16px;
    height: 25px;
    margin: 20px 0px;
}

p {
    color: rgb(146, 168, 0);
}

a {
    color: rgb(131, 148, 150);
}
